<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="2">
	<test name="UAEEN">
		<parameter name="browser" value="Chrome" />
		<parameter name="country" value="UAE" />
		<parameter name="language" value="EN" />
		<parameter name="environment" value="stage"></parameter>
		<classes>
			<class name="testRunner.CucumberRunner" />
		</classes>
	</test> <!--Test -->
</suite> <!-- Suite -->